/* CSS MOBILE */

@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

h1{
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light', sans-serif;
    letter-spacing: 2px;
}
header{
   background-color: black;
}
ul{
    display: flex;
    overflow: auto;
}
li{
    margin: 20px;
    list-style-type: none;
    background-color: transparent;
}

.logoheader{
    display: block;
    margin: auto;
    width: 80px;
    position: relative;
}

/* NAV */

.navimg{
   width: 100px;
}
.hover:hover{
    position: relative;
    left: 15px;
    width: 170px;
    transition: 1s ease-in-out;
}
.navimg2{
    width: 150px;
}
.navimg3{
    width: 120px;
}
.bensao{
    width: 100px;
}

/* MAIN */

.img1-grid{
    display: none;
}
h2{
    font-family: 'Shadows Into Light', sans-serif;
    margin: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.19), white, rgba(0, 0, 0, 0.19));
    padding: 10px;
    border-top-left-radius: 5px;
    text-align: center;
}
.gif1{
    width: 300px;
    display: block;
    margin: auto;
}
.imgs{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 3px;
}
p{
    padding: 10px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: justify;
    text-indent: 2px;
    max-width: 630px;
    margin: auto;
    font-size: 14px;
}

.caixa{
    background-image: linear-gradient(to right, #B0CB55, #897667);
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.caixa > p{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20pt;
}
 h3{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20pt;
 }

.none{
    display: none;
}

 
 
 /* PARA TABLETS */

 @media screen and (min-width:768px) {
     .container{
         display: grid;
         grid-template-columns: 1fr 3fr;
         grid-template-areas: 
         'header header header'
         'sidenav content content'
         'sidenav content content'
         'footer footer footer'
         ;
   }
   
   .header{grid-area: header;}
   .content{grid-area: content;}
   .sidenav{grid-area: sidenav;}

   .ul{
    display: flex;
    flex-direction: column;
   }

   .img1-grid{
    display: block;
    grid-area: img;
    width: 550px;
    margin: auto;
   }

   .caixa{
    display: none;
   }

   .footer{
    grid-area: footer;
    background-color: black;
   }

   .footer > p {
    text-align: center;
    color: white;
    padding: 15px;
   }

   .none{
    display: block;
   }

   li{
    margin-bottom: 80px;
   }

   h2,h3{
    letter-spacing: 4px;
   }
}

/* PARA TELAS MAIORES */

@media screen and (min-width:992px){
   .grid-2{
     width: 200px;
   }

   .none{
    display: none;
   }
}